<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c50x.eleos">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKWHCxfYyQftfeVrn5xKP2lAuIZ6t8PRs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.CreateGameActivity"
            android:label="Eleos" />
        <activity
            android:name=".activities.CreateTeamActivity"
            android:label="Eleos" />
        <activity
            android:name=".activities.PlayerSearchActivity"
            android:label="@string/title_activity_player_search" />
        <activity
            android:name=".activities.TeamSelectionActivity"
            android:label="@string/title_activity_my_team" />
        <activity
            android:name=".activities.GameInfoActivity"
            android:label="Game Info" />
        <activity
            android:name=".activities.ManagerRegistrationActivity"
            android:label="Manager Registration" />
        <activity
            android:name=".activities.AdminTeams"
            android:label="My Teams" />
        <activity
            android:name=".activities.TeamInfoActivity"
            android:label="Team info" />
        <activity
            android:name=".activities.AdminGamesActivity"
            android:label="Your Games" />
        <activity
            android:name=".activities.VenueInfoActivity"
            android:label="Your Venue" />
        <activity android:name=".activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MapActivity" />
        <activity android:name=".activities.RequestsActivity" />
        <activity android:name=".activities.EditPlayerInfoActivity" />
        <activity android:name=".activities.VenuesActivity"></activity>
    </application>

</manifest>